
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body > header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
    min-height: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #04AA6D;
    padding: 0 5px;
    margin: 0 5px;
}
h2{
    margin: 20px 5px;
}
h4{
    margin: 10px 0;
}
#brand{
    position: relative;
    line-height: 0.5rem;
    text-transform: uppercase;
    font-size: 40px;
}
a{
    color: #fff;
    text-decoration: none;
}
.menu-item{
    position: relative;
    min-width: 100px;
    margin-right: 10px;
    padding: 5px;
}
.menu-item a{
    line-height: 0.5rem;
    text-transform: uppercase;
    font-size: 20px;
}
main{
    position: relative;
    margin-top: 60px;
    max-width: 600px;
}
main > div{
    margin: 10px;
}
form{
    margin-top: 10px;
}
form > div{
    margin-top: 10px;
}
label{
    padding: 12px 12px 12px 0;
    display:  inline-block;
}
select, input[type=text], input[type=number], textarea{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
input[type=text], textarea{
    width: 100%;
}
form > button{
    background-color: #04AA6D;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    margin-top: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
.note{
    margin-top: 20px;
    font-size: small;
}
._20mb{
    margin-bottom: 20px;
}
._20mt{
    margin-top: 20px;
}
.add{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 20px;
}

#expense h4{
    margin-top: 30px;
}
article > header{
    background-color: #04AA6D;
}
article > header, .buget-row{
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
#expense a{
    color: #04AA6D;
}
.buget-row{
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.item{
    padding: 5px 10px;
}
.unit{
    padding: 5px;
    text-align: left;
}
._2fb, ._1fb{
    flex-basis: 100px;
}
._1fb{
    flex-grow: 1;
}
._2fb{
    flex-grow: 2;
}
.flxc{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.total{
    border-top: #04AA6D 5px dotted;
}
footer{
    width: 100vw;
    position:fixed;
    bottom: 5px;
    left: 5px;
    z-index: 1000;
}
marquee a{
    color: #04AA6D;
}
